<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 pt-3">
  <div class="col" *ngFor="let product of products">
    <div class="card mb-5">
      <img [src]="product.image" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/productDetails/{{ product._id }}">{{
            product.title
          }}</a>
        </h5>
        <p class="card-title text-info">
          {{ product.price }}
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">
          <img class="cart-icon" src="assets/mainImgs/categoryIcons/cart.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
