<div class="container">
  <div class="Categories d-flex justify-content-between flex-wrap">
   <div class="d-flex categoryItem flex-wrap">
    <div><a href="#"><img src="assets/mainImgs/categoryIcons/cardio.svg"></a></div>
    <div><a href="#"><img src="assets/mainImgs/categoryIcons/strength.svg"></a></div> 
    <div><a href="#"><img src="assets/mainImgs/categoryIcons/apparel.svg"></a></div>
    <div><a href="#"><img src="assets/mainImgs/categoryIcons/bikes.svg"></a></div>
    <div><a href="#"><img src="assets/mainImgs/categoryIcons/footwear.svg"></a></div> 
   </div>
    <div class="searchInput">
      <input type="text" placeholder="Search Products">
      <img src="assets/mainImgs/searchIcon.svg" alt="searchIcon">
    </div>
  </div>
 
</div>
