<div class="container-fluid bg-info">
  <div class="row justify-content-center bg-blue">
    <div class="col col-sm-6">
      <h1 class="text-white text-center mt-5">Subscribe to Our Newsletter</h1>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Email..."
        />
        <span class="input-group-text bg-info text-white">Subscribe</span>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <img
            class="footer-image mb-3"
            src="assets/mainImgs/contact.svg"
            alt=""
          />
        </div>
        <div class="col-12 col-sm-6">
          <img
            class="footer-image menu-links mb-3"
            src="assets/mainImgs/menu-links.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-orange text-center text-white py-3">
  <p>&copy; 2022 All right reserved by Sportio.</p>
</div>
